[submodule "PKGBUILDS/r-timedate"]
	path = PKGBUILDS/r-timedate
	url = ssh://aur@aur.archlinux.org/r-timedate.git
[submodule "PKGBUILDS/r-rstan"]
	path = PKGBUILDS/r-rstan
	url = ssh://aur@aur.archlinux.org/r-rstan.git
[submodule "PKGBUILDS/r-stanheaders"]
	path = PKGBUILDS/r-stanheaders
	url = ssh://aur@aur.archlinux.org/r-stanheaders.git
[submodule "PKGBUILDS/r-inline"]
	path = PKGBUILDS/r-inline
	url = ssh://aur@aur.archlinux.org/r-inline.git
[submodule "PKGBUILDS/r-rcppeigen"]
	path = PKGBUILDS/r-rcppeigen
	url = ssh://aur@aur.archlinux.org/r-rcppeigen.git
[submodule "PKGBUILDS/r-digest"]
	path = PKGBUILDS/r-digest
	url = ssh://aur@aur.archlinux.org/r-digest.git
[submodule "PKGBUILDS/r-stringr"]
	path = PKGBUILDS/r-stringr
	url = ssh://aur@aur.archlinux.org/r-stringr.git
[submodule "PKGBUILDS/r-knitr"]
	path = PKGBUILDS/r-knitr
	url = ssh://aur@aur.archlinux.org/r-knitr.git
[submodule "PKGBUILDS/r-zoo"]
	path = PKGBUILDS/r-zoo
	url = ssh://aur@aur.archlinux.org/r-zoo.git
[submodule "PKGBUILDS/r-dbplyr"]
	path = PKGBUILDS/r-dbplyr
	url = ssh://aur@aur.archlinux.org/r-dbplyr.git
[submodule "PKGBUILDS/r-modelr"]
	path = PKGBUILDS/r-modelr
	url = ssh://aur@aur.archlinux.org/r-modelr.git
[submodule "PKGBUILDS/r-reprex"]
	path = PKGBUILDS/r-reprex
	url = ssh://aur@aur.archlinux.org/r-reprex.git
[submodule "PKGBUILDS/r-rvest"]
	path = PKGBUILDS/r-rvest
	url = ssh://aur@aur.archlinux.org/r-rvest.git
[submodule "PKGBUILDS/r-xml2"]
	path = PKGBUILDS/r-xml2
	url = ssh://aur@aur.archlinux.org/r-xml2.git
[submodule "PKGBUILDS/r-haven"]
	path = PKGBUILDS/r-haven
	url = ssh://aur@aur.archlinux.org/r-haven.git
[submodule "PKGBUILDS/r-tidyverse"]
	path = PKGBUILDS/r-tidyverse
	url = ssh://aur@aur.archlinux.org/r-tidyverse.git
[submodule "PKGBUILDS/r-cellranger"]
	path = PKGBUILDS/r-cellranger
	url = ssh://aur@aur.archlinux.org/r-cellranger.git
[submodule "PKGBUILDS/r-readxl"]
	path = PKGBUILDS/r-readxl
	url = ssh://aur@aur.archlinux.org/r-readxl.git
[submodule "PKGBUILDS/r-rematch"]
	path = PKGBUILDS/r-rematch
	url = ssh://aur@aur.archlinux.org/r-rematch.git
[submodule "PKGBUILDS/r-rlang"]
	path = PKGBUILDS/r-rlang
	url = ssh://aur@aur.archlinux.org/r-rlang.git
[submodule "PKGBUILDS/r-callr"]
	path = PKGBUILDS/r-callr
	url = ssh://aur@aur.archlinux.org/r-callr.git
[submodule "PKGBUILDS/r-assertthat"]
	path = PKGBUILDS/r-assertthat
	url = ssh://aur@aur.archlinux.org/r-assertthat.git
[submodule "PKGBUILDS/r-dichromat"]
	path = PKGBUILDS/r-dichromat
	url = ssh://aur@aur.archlinux.org/r-dichromat.git
[submodule "PKGBUILDS/r-gtable"]
	path = PKGBUILDS/r-gtable
	url = ssh://aur@aur.archlinux.org/r-gtable.git
[submodule "PKGBUILDS/r-selectr"]
	path = PKGBUILDS/r-selectr
	url = ssh://aur@aur.archlinux.org/r-selectr.git
[submodule "PKGBUILDS/r-rmarkdown"]
	path = PKGBUILDS/r-rmarkdown
	url = ssh://aur@aur.archlinux.org/r-rmarkdown.git
[submodule "PKGBUILDS/r-rcolorbrewer"]
	path = PKGBUILDS/r-rcolorbrewer
	url = ssh://aur@aur.archlinux.org/r-rcolorbrewer.git
[submodule "PKGBUILDS/r-munsell"]
	path = PKGBUILDS/r-munsell
	url = ssh://aur@aur.archlinux.org/r-munsell.git
[submodule "PKGBUILDS/r-labeling"]
	path = PKGBUILDS/r-labeling
	url = ssh://aur@aur.archlinux.org/r-labeling.git
[submodule "PKGBUILDS/r-dbi"]
	path = PKGBUILDS/r-dbi
	url = ssh://aur@aur.archlinux.org/r-dbi.git
[submodule "PKGBUILDS/r-rprojroot"]
	path = PKGBUILDS/r-rprojroot
	url = ssh://aur@aur.archlinux.org/r-rprojroot.git
[submodule "PKGBUILDS/r-processx"]
	path = PKGBUILDS/r-processx
	url = ssh://aur@aur.archlinux.org/r-processx.git
[submodule "PKGBUILDS/r-htmltools"]
	path = PKGBUILDS/r-htmltools
	url = ssh://aur@aur.archlinux.org/r-htmltools.git
[submodule "PKGBUILDS/r-base64enc"]
	path = PKGBUILDS/r-base64enc
	url = ssh://aur@aur.archlinux.org/r-base64enc.git
[submodule "PKGBUILDS/r-backports"]
	path = PKGBUILDS/r-backports
	url = ssh://aur@aur.archlinux.org/r-backports.git
[submodule "PKGBUILDS/r-random"]
	path = PKGBUILDS/r-random
	url = ssh://aur@aur.archlinux.org/r-random.git
[submodule "PKGBUILDS/r-startupmsg"]
	path = PKGBUILDS/r-startupmsg
	url = ssh://aur@aur.archlinux.org/r-startupmsg.git
[submodule "PKGBUILDS/r-msm"]
	path = PKGBUILDS/r-msm
	url = ssh://aur@aur.archlinux.org/r-msm.git
[submodule "PKGBUILDS/r-coda"]
	path = PKGBUILDS/r-coda
	url = ssh://aur@aur.archlinux.org/r-coda.git
[submodule "PKGBUILDS/r-bit"]
	path = PKGBUILDS/r-bit
	url = ssh://aur@aur.archlinux.org/r-bit.git
[submodule "PKGBUILDS/r-curl"]
	path = PKGBUILDS/r-curl
	url = ssh://aur@aur.archlinux.org/r-curl.git
[submodule "PKGBUILDS/r-r6"]
	path = PKGBUILDS/r-r6
	url = ssh://aur@aur.archlinux.org/r-r6.git
[submodule "PKGBUILDS/r-crayon"]
	path = PKGBUILDS/r-crayon
	url = ssh://aur@aur.archlinux.org/r-crayon.git
[submodule "PKGBUILDS/r-xml"]
	path = PKGBUILDS/r-xml
	url = ssh://aur@aur.archlinux.org/r-xml.git
[submodule "PKGBUILDS/r-sfsmisc"]
	path = PKGBUILDS/r-sfsmisc
	url = ssh://aur@aur.archlinux.org/r-sfsmisc.git
[submodule "PKGBUILDS/r-mvtnorm"]
	path = PKGBUILDS/r-mvtnorm
	url = ssh://aur@aur.archlinux.org/r-mvtnorm.git
[submodule "PKGBUILDS/r-withr"]
	path = PKGBUILDS/r-withr
	url = ssh://aur@aur.archlinux.org/r-withr.git
[submodule "PKGBUILDS/r-devtools"]
	path = PKGBUILDS/r-devtools
	url = ssh://aur@aur.archlinux.org/r-devtools.git
[submodule "PKGBUILDS/r-evaluate"]
	path = PKGBUILDS/r-evaluate
	url = ssh://aur@aur.archlinux.org/r-evaluate.git
[submodule "PKGBUILDS/r-formatr"]
	path = PKGBUILDS/r-formatr
	url = ssh://aur@aur.archlinux.org/r-formatr.git
[submodule "PKGBUILDS/r-git2r"]
	path = PKGBUILDS/r-git2r
	url = ssh://aur@aur.archlinux.org/r-git2r.git
[submodule "PKGBUILDS/r-highr"]
	path = PKGBUILDS/r-highr
	url = ssh://aur@aur.archlinux.org/r-highr.git
[submodule "PKGBUILDS/r-httr"]
	path = PKGBUILDS/r-httr
	url = ssh://aur@aur.archlinux.org/r-httr.git
[submodule "PKGBUILDS/r-jsonlite"]
	path = PKGBUILDS/r-jsonlite
	url = ssh://aur@aur.archlinux.org/r-jsonlite.git
[submodule "PKGBUILDS/r-magrittr"]
	path = PKGBUILDS/r-magrittr
	url = ssh://aur@aur.archlinux.org/r-magrittr.git
[submodule "PKGBUILDS/r-markdown"]
	path = PKGBUILDS/r-markdown
	url = ssh://aur@aur.archlinux.org/r-markdown.git
[submodule "PKGBUILDS/r-memoise"]
	path = PKGBUILDS/r-memoise
	url = ssh://aur@aur.archlinux.org/r-memoise.git
[submodule "PKGBUILDS/r-mime"]
	path = PKGBUILDS/r-mime
	url = ssh://aur@aur.archlinux.org/r-mime.git
[submodule "PKGBUILDS/r-openssl"]
	path = PKGBUILDS/r-openssl
	url = ssh://aur@aur.archlinux.org/r-openssl.git
[submodule "PKGBUILDS/r-brew"]
	path = PKGBUILDS/r-brew
	url = ssh://aur@aur.archlinux.org/r-brew.git
[submodule "PKGBUILDS/r-praise"]
	path = PKGBUILDS/r-praise
	url = ssh://aur@aur.archlinux.org/r-praise.git
[submodule "PKGBUILDS/r-roxygen2"]
	path = PKGBUILDS/r-roxygen2
	url = ssh://aur@aur.archlinux.org/r-roxygen2.git
[submodule "PKGBUILDS/r-rstudioapi"]
	path = PKGBUILDS/r-rstudioapi
	url = ssh://aur@aur.archlinux.org/r-rstudioapi.git
[submodule "PKGBUILDS/r-stringi"]
	path = PKGBUILDS/r-stringi
	url = ssh://aur@aur.archlinux.org/r-stringi.git
[submodule "PKGBUILDS/r-testthat"]
	path = PKGBUILDS/r-testthat
	url = ssh://aur@aur.archlinux.org/r-testthat.git
[submodule "PKGBUILDS/r-whisker"]
	path = PKGBUILDS/r-whisker
	url = ssh://aur@aur.archlinux.org/r-whisker.git
[submodule "PKGBUILDS/r-yaml"]
	path = PKGBUILDS/r-yaml
	url = ssh://aur@aur.archlinux.org/r-yaml.git
